flask==2.2.3
Werkzeug==2.3.7
flask-cors>=3.0.10
python-dotenv==1.1.1
torch==2.7.1
torchvision==0.22.1
torchmetrics==1.7.3
captum==0.8.0
scikit-learn==1.7.1
numpy==1.26.4
pandas==2.3.2
opencv-python-headless==4.10.0.84
pytesseract==0.3.13
albumentations==2.0.8
Pillow==10.4.0
transformers==4.55.4
diffusers==0.34.0
openai-clip==1.0.1
openai==1.101.0
huggingface_hub==0.34.4
roboflow==1.2.1
wandb==0.21.1
wordcloud
matplotlib==3.10.5
nltk
seaborn==0.13.2
pydeck==0.9.1
tensorboard==2.15.0
plotly==5.24.1
contourpy==1.3.3
kiwisolver==1.4.9
cycler==0.12.1
fonttools==4.60.0
requests==2.32.5
requests-toolbelt==1.0.0
beautifulsoup4==4.13.5
feedparser==6.0.11
wikipedia==1.4.0
bing_image_downloader==1.1.2
fpdf==1.7.2
filetype==1.2.0
openpyxl==3.1.5
tornado==6.5.2
zipp==3.23.0
wcwidth==0.2.14
tqdm==4.67.1
platformdirs==4.4.0
typing-extensions==4.15.0
importlib-metadata==8.7.0
setuptools==80.9.0
python-dateutil==2.9.0.post0
MarkupSafe==3.0.2
flask-uploads==0.2.1
